# Python Crash Course

In [5]:
import sys
sys.version

'3.6.10 |Anaconda, Inc.| (default, May  7 2020, 19:46:08) [MSC v.1916 64 bit (AMD64)]'

## Part 1

In [7]:
1/2 #float division

0.5

In [9]:
1//2 #integer division which floors the result

0

In [11]:
 2 ** 4 #exponents

16

In [12]:
#follows order of operations so you can use parens
2+3*5+5

22

In [13]:
(2+3)*(5+5)

50

In [14]:
#modulus remainder after division (great way to check if numbers are even)
4 % 2

0

In [16]:
5 % 2
#if a number mod 2 is 0 the number is even

1

#### Strings

In [17]:
'single quote'
"double quotes"
"I can't go"

"I can't go"

In [19]:
x = 'hello'
x

'hello'

In [21]:
print(x) #use the print() statement to officially output data in python

hello

In [29]:
#format print statements
num = 12
name = 'Sam'
print(f'{name} is {num}')
print('{} is {}'.format(name, num))
print('{one} is {two}, more {one}'.format(one = name, two = num))

Sam is 12
Sam is 12
Sam is 12, more Sam

In [33]:
#indexing strings
s = 'hello'
print(s[0])
print(s[4])
print(s[-1])
print(s[2:4])

h
o
o
ll

#### Lists

In [35]:
my_list = ['a','b','c']
print(my_list)
my_list.append('d')
print(my_list)

['a', 'b', 'c']
['a', 'b', 'c', 'd']

In [39]:
nest = [1,2,3,[4,5,['target']]]
print(nest[3])
print(nest[3][2])
print(nest[3][2][0])
print(nest[3][2][0][1])

[4, 5, ['target']]
['target']
target
a

## Part 2

#### Dictionaries

In [49]:
d = {'key1': 'value1','key2':'value2'}
d1 = {'key1': [1,2,3]}

In [51]:
print(d['key1'])
print(d1['key1'])
print(d1['key1'][1])

value1
[1, 2, 3]
2

In [52]:
d2 = {'k1':{'innerkey':[1,2,3]}}
d2['k1']['innerkey'][2]

3

#### Booleans

In [54]:
True, False

(True, False)

#### Tuples

In [57]:
#biggest difference between tuples and lists and that tuples aren't mutable and cannot be changed
t = (1,2,3)
t[1]
#use a tuple when you don't want a user to modify the collection

2

#### Sets

In [58]:
#set is a collection of unique items
{1,2,2,3,3,3,3,2,4}

{1, 2, 3, 4}

In [60]:
list1 = [1,2,2,3,3,3,3,2,1,2,3,4,5,6,7]
s = set(list1)

In [61]:
s.add(8)

In [62]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

#### Comparison Operators

In [63]:
1 < 2 and 2 < 3

True

In [65]:
1 > 2 and 2 < 3

False

In [66]:
1 < 2 or 2 > 3

True

## Part 3

In [68]:
seq = [1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

In [67]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [70]:
for x in range(5):
    print(x)

0
1
2
3
4

In [71]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### List comprehension

In [74]:
x = [1,2,3,4]
out = []
for i in x:
    out.append(i**2)
print(out)

[1, 4, 9, 16]

In [75]:
out = [i**2 for i in x]
print(out)

[1, 4, 9, 16]

#### Functions

In [81]:
def my_func(name = 'default name'):
    print('hello ' + name)
my_func('jack')
my_func()

hello jack
hello default name

In [86]:
def square(num):
    """doc string goes here
        can go multiple lines"""
    return num ** 2
square(44)

1936

In [87]:
help(square)

Help on function square in module __main__:

square(num)
    doc string goes here
    can go multiple lines

## Part 4

#### Map Function

In [93]:
#map takes a function and applies it to every value of an iterable

In [ ]:
seq = [1,2,3,4,5]

In [88]:
def times2(var):
    return var*2

In [91]:
map(times2, seq)

In [92]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [95]:
#use map instead of for statements when applying functions to every value
final_list = []
for i in seq:
    final_list.append(times2(i))
final_list

[2, 4, 6, 8, 10]

In [96]:
#similar to the apply method in pandas

#### Lambda expressions

In [ ]:
#the times2 function can be written on a single line
def times2(var):return var*2

In [98]:
t = lambda var:var*2

In [99]:
t(6)

12

In [101]:
#very common to use map and lambdas together
list(map(lambda num:num*3, seq))
#don't have to formally define a function. can just create it for the one time we're going to use it

[3, 6, 9, 12, 15]

#### Filter Function

In [102]:
#similar to map, but rather than apply a function to every element of an iterable
#filter removes items from an iterable based on a lambda function

In [105]:
#returns a list of values from sequence that are even
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [106]:
new_list = []
for num in seq:
    if num % 2 == 0:
        new_list.append(num)
new_list

[2, 4]

#### methods

In [110]:
s = 'hello my name is Sam'
s.lower()
s.upper()

'HELLO MY NAME IS SAM'

In [111]:
s.split(' ')

['hello', 'my', 'name', 'is', 'Sam']

In [112]:
d = {'k1': '1','k2':'2'}

In [114]:
d.keys()

dict_keys(['k1', 'k2'])

In [115]:
d.items()

dict_items([('k1', '1'), ('k2', '2')])

In [116]:
d.values()

dict_values(['1', '2'])

In [117]:
lst = [1,2,3]
lst.pop()

3

In [118]:
item = lst.pop()

In [119]:
item

2

#### tuple unpacking

In [121]:
x = [(1,2),(3,4),(5,6)]
x[0][0]

1

In [122]:
#iterate through a list of tuples
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [123]:
for a,b in x:
    print(a)

1
3
5

In [124]:
for a,b in x:
    print(b)

2
4
6