# NumPy Arrays

In [1]:
import numpy as np

#### Several ways to create arrays

In [2]:
#create array from list
my_list = [1,2,3]
np.array(my_list)

array([1, 2, 3])

In [4]:
#same works for a list of lists into a 2d array
my_mat = [[1,2,3],[4,5,6],[7,8,9]]
np.array(my_mat)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
# creating your own array using np (faster than creating a list and turning it into an array)
np.arange(0,10)
#very similar to the range() function in vanilla python
np.arange(0,11,2)

array([ 0,  2,  4,  6,  8, 10])

In [12]:
#generate array of all 0
np.zeros(3) #to get a 1d array of 3 zeros
np.zeros((2,3)) #or pass in a tuple to get a 2d array of zeros
#np.zeros((rows,columns))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [17]:
#also can create an array of all ones
np.ones(10) #1d array of 10 ones
np.ones((3,4)) #2d array ones with 3 rows and 4 columns

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [22]:
#return evenly spaced values over a specified interval
np.linspace(0,5,num= 11)  #creates an 1d array of 11 values from 0 to 5(inclusive)
np.linspace(0,10,101) #creates a 1d array of 101 values from 0 to 10(inclusive)

array([ 0. ,  0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,
        1.1,  1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,
        2.2,  2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,
        3.3,  3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,
        4.4,  4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,
        5.5,  5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,
        6.6,  6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,
        7.7,  7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,
        8.8,  8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,
        9.9, 10. ])

In [24]:
#create an identity matrix
np.eye(4)  #returns a 4x4 2d array with a diagonal of ones from top left to bottom right
#The identity matrix is used often in proofs, and when computing the inverse of a matrix

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [29]:
#several methods to create arrays of random numbers of a uniform distribution from 0 to 1
#probability distribution in which all outcomes are equally likely.
print(np.random.rand(10))  #returns 1d array of 10 random numbers from 0 to 1
print(np.random.rand(3,4)) #returns 2d array of 3 rows/4 columns of random numbers from 0 to 1

[0.52193078 0.30048958 0.30346882 0.69058983 0.2525979  0.20627332
 0.75410183 0.77583792 0.175725   0.5470077 ]
[[0.17949927 0.24186685 0.66282767 0.92257524]
 [0.91874684 0.42789075 0.31334746 0.95791483]
 [0.1214585  0.49632038 0.59303097 0.8764608 ]]

In [31]:
#return samples from a normal/gaussian distribution centered around 0
np.random.randn(8)
np.random.randn(2,4)

array([[ 1.48712608,  0.3683152 ,  0.03066113, -0.48168523],
       [-1.07483688, -0.37982126,  1.75047189, -0.02906686]])

In [34]:
#random integers from a low to a high number
np.random.randint(1,100) #random integer from 1(inclusive) to 100 (exclusive)
np.random.randint(1,100,10) #10 random integers from 1(inclusive) to 100(exclusive)
np.random.randint(1,11, size = (4,2)) #random integers from 1 to 11(exclusive) in a 4row/2column matrix

array([[ 5,  1],
       [ 5,  2],
       [ 8, 10],
       [ 9,  9]])

#### Useful attributes and methods of an array

In [35]:
arr = np.arange(25) 
ranarr = np.random.randint(0,50,10)
print(arr)
print(ranarr)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24]
[ 1 17 20 11 44 44 33 39 15 34]

In [37]:
#reshape() method returns a new array with a new shape
arr.reshape(5,5) #returns new array 5x5 array that fills in as you move across the initial array
#will get an error if you can't fill up the new matrix completely

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [44]:
#max/min values
print(ranarr.max())
print(ranarr.min())

44
1

In [45]:
#index location of the max/min values in an array
print(ranarr.argmax())
print(ranarr.argmin())

4
0

In [52]:
#find the shape of a vector using the .shape attribute
print(arr.shape) #returns a tuple (25,)
print(arr.reshape(5,5).shape)  #reshape the array the check the shape

(25,)
(5, 5)

In [53]:
#return the data type of the array using the dtype attribute
arr.dtype

dtype('int32')

In [58]:
#can also ilmport specific random modules which makes it faster to import and easier to type
from numpy.random import randint, randn
print(randint(0,10,100))
(randn(100))

[0 3 3 3 6 3 1 6 9 1 2 3 6 0 9 1 5 1 9 3 1 4 3 7 8 2 5 0 3 4 2 0 9 6 3 0 0
 6 0 2 7 3 0 4 1 3 6 9 2 4 3 7 4 3 0 8 2 7 4 5 0 4 0 1 3 7 5 4 1 3 4 2 4 4
 7 6 7 9 2 9 1 5 8 2 4 1 0 9 9 8 6 7 6 6 5 9 0 7 3 4]

array([-0.74468615,  0.08697927,  0.29782314, -0.97621426,  0.70609981,
       -0.11642534, -0.22829879, -0.80016604,  0.119414  ,  2.47400179,
       -1.33310493, -0.97064247,  0.49802639,  1.50329143, -0.57345216,
        0.12454731, -0.02391941,  0.76257585,  0.57993488, -1.63725855,
        2.08121809, -0.61269376,  0.84453839,  2.51219141,  0.0407743 ,
       -0.29060645, -0.86923513,  0.49382123,  1.81994111,  0.99610269,
       -1.11392846, -0.25797254, -0.47413403, -1.27479541,  0.33913802,
        1.65087445,  0.5822364 , -0.99543634, -1.28088172,  1.0510893 ,
        0.36100649,  0.90187875, -1.1567701 , -0.32991238, -0.51690081,
        0.2156757 ,  1.80675938,  0.82407119, -0.28898645, -1.49617667,
       -0.71055824, -0.45118893, -0.16757847,  0.02959157, -0.1673959 ,
       -0.6055376 ,  0.44845759,  0.60154281,  0.05198948, -0.58085333,
       -0.80844964, -0.69038002, -0.53342321, -0.19039644, -1.343438  ,
       -1.20757715,  0.75643193,  0.09033989, -2.61300977, -0.14348272,
        1.95546852,  0.20757992, -0.0316709 , -1.08043576,  0.30438462,
        1.05346768,  1.21522206,  0.22788517,  0.74563374,  0.3728713 ,
       -0.96041684, -0.89018868,  0.88107212,  2.43585417,  0.60190347,
        0.31921115,  0.88710407, -0.75369352, -0.78047174, -0.94458621,
        0.31658044, -0.35881447,  1.54029287,  0.30084103,  0.90851914,
       -0.09071867, -0.98089277,  0.24656871,  0.72468529, -0.31967383])

# Numpy Array Indexing and Selection

In [73]:
arr = np.arange(0,11)
arr #array of 11 elements from 0 to 10

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

#### Indexing a 1D Array

In [62]:
#similar to index a python list
print(arr[0])
print(arr[1:5])
print(arr[1:])

0
[1 2 3 4]
[ 1  2  3  4  5  6  7  8  9 10]

In [74]:
#can broadcast a value to the array
arr[0:5] = 100 # sets the first 5 values to 100 in the array
print(arr)
arr = np.arange(0,11)
slice_of_arr = arr[0:6]
print(slice_of_arr)
slice_of_arr[:] = 99  #this is just a view of the original array, not a new array
print(slice_of_arr)
print(arr)  
#broadcasting 99 to slice_of_arr also changes the original arr values in those indexes.
#this is done to prevent memory issues with very large arrays

[100 100 100 100 100   5   6   7   8   9  10]
[0 1 2 3 4 5]
[99 99 99 99 99 99]
[99 99 99 99 99 99  6  7  8  9 10]

In [77]:
#if you want a copy of an array you have to specify it
arr_copy = arr.copy()
print(arr)
print(arr_copy)
arr_copy[:] = 100
print(arr_copy)
print(arr)

[99 99 99 99 99 99  6  7  8  9 10]
[99 99 99 99 99 99  6  7  8  9 10]
[100 100 100 100 100 100 100 100 100 100 100]
[99 99 99 99 99 99  6  7  8  9 10]

#### Indexing a 2D Array

In [99]:
arr_2d = np.array([[5,10,15],[20,25,30],[35,40,45]])
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [80]:
#double bracket format
arr_2d[0][2]  #[row with index 0][column with index 2]
arr_2d[2][1] #[row with index 2][column with inex 1]

15

In [83]:
#single bracket with a comma
arr_2d[2,1] #[row index of 2, column index of 1]  #40
arr_2d[1,2] #[row index of 1, column index of 2]  #30

30

In [102]:
#slicing to get chunks of an array
print(arr_2d[:2,1:]) #returns row index 0 and 1 and column index 1 and 2
print(arr_2d[:,0])  #returns the first column of each row
print(arr_2d[:,2]) #returns the last column of each row
print(arr_2d[1:3,:2]) #returns the first 2 columns (0:2) of the last 2 rows (1:3)
print(arr_2d[:,:2]) #returns all rows of the first 2 columns

[[10 15]
 [25 30]]
[ 5 20 35]
[15 30 45]
[[20 25]
 [35 40]]
[[ 5 10]
 [20 25]
 [35 40]]

In [111]:
#practice
arr_2d = np.arange(50).reshape(5,10)
arr_2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [114]:
arr_2d[1,2:5] #pull out values 12,13,14
arr_2d[1:4,1]   #pull out values 11,21,31
arr_2d[2:4,3:6]#pull out values 23,24,25,33,34,35

array([[23, 24, 25],
       [33, 34, 35]])

#### Conditional Selection

In [103]:
arr = np.arange(1,11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [109]:
#use a conditional operator to get a full boolean array that gets passed back into the array brackets
bool_arr = arr > 5
bool_arr
arr[bool_arr] #very similar to pandas dataframe filtering using boolean series
arr[arr>5]  #this is the same as the line above

array([ 6,  7,  8,  9, 10])

In [110]:
#all elements of array less than 3
arr[arr<3]

array([1, 2])

# Numpy Operations

In [118]:
import numpy as np

#### Array with Array

In [119]:
arr = np.arange(0,11)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [120]:
#simple arithmetic
arr + arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [121]:
arr - arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [122]:
arr * arr

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [129]:
arr/arr  # there is a 0 in the array so dividing by arr wont work.
#np throws a warning and puts a nan in that were the arr = 0

C:\Users\joelw\anaconda3\envs\DSML_Bootcamp\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

#### Array with Scalars

In [126]:
#scalars are just a single number
# the scalar gets broadcasted to every value of the array 
arr + 4

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [127]:
arr - 40

array([-40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30])

In [128]:
arr * 24

array([  0,  24,  48,  72,  96, 120, 144, 168, 192, 216, 240])

In [130]:
arr ** 3

array([   0,    1,    8,   27,   64,  125,  216,  343,  512,  729, 1000],
      dtype=int32)

#### Universal Array Functions

In [132]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ,
       3.16227766])

In [133]:
np.exp(arr)  #calculates e**x for every value of x in your array where e~2.718

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03, 2.20264658e+04])

In [134]:
np.max(arr)

10

In [138]:
np.sin(arr)  #pass every value of array into sin()

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849,
       -0.54402111])

In [141]:
np.log(arr)  #log of every value in array, log(0) is negative infinity

C:\Users\joelw\anaconda3\envs\DSML_Bootcamp\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458,
       2.30258509])

In [142]:
#many other universal functions can be found online.